<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" ng-app="minervaApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <base href="/">
        <title>Minerva - Xestión de bibliotecas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">    
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(client) app/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
        <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
        <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css({.tmp,client}) app/app.css -->
        <!-- injector:css -->
        <link rel="stylesheet" href="app/app.css">
        <link rel="stylesheet" href="app/book-detail/book-detail.css">
        <link rel="stylesheet" href="app/lembrar-contrasinal/lembrar-contrasinal.css">
        <link rel="stylesheet" href="app/login/login.css">
        <link rel="stylesheet" href="app/main/main.css">
        <link rel="stylesheet" href="app/opcions/opcions.css">
        <link rel="stylesheet" href="app/prestamo-listaxe/prestamo-listaxe.css">
        <link rel="stylesheet" href="app/tests/tests.css">
        <link rel="stylesheet" href="app/xestion-accesos/xestion-accesos.css">
        <link rel="stylesheet" href="app/xestion-biblioteca/xestion-biblioteca.css">
        <link rel="stylesheet" href="app/xestion-usuarios/xestion-usuarios.css">
        <link rel="stylesheet" href="components/footer/footer.css">
        <link rel="stylesheet" href="components/modal/modal.css">
        <!-- endinjector -->
        <!-- endbuild -->
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/AdminLTE.css">
        <link rel="stylesheet" href="assets/css/_all-skins.css">

    </head>
    <body ng-class=" {'hold-transition login-page':login, 'hold-transition skin-black sidebar-mini': !login}">

        <!--[if lt IE 7]>
          <p class="browserupgrade">Estás usando navegador <strong>obsoleto</strong>. Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> para mejorar tu experiencia.</p>
        <![endif]-->

        <div class="wrapper">

            <minerva-header user="user" salir="salir" ng-if="!login"></minerva-header>
            <minerva-sidebar salir="salir" ng-if="!login"></minerva-sidebar>
            
            <div ui-view=""></div>
            <footer ng-hide="login"></footer>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-77133814-2');
            ga('send', 'pageview');
        </script>

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <!-- build:js({client,node_modules}) app/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/lodash/dist/lodash.compat.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
        <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/Chart.js/Chart.js"></script>
        <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script src="bower_components/ngSweetAlert/SweetAlert.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/PACE/pace.js"></script>
        <script src="bower_components/qrcode/lib/qrcode.js"></script>
        <script src="bower_components/angular-qr/src/angular-qr.js"></script>
        <script src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
        <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js(.tmp) app/app.js -->
        <script src="app/app.js"></script>
        <!-- injector:js -->
        <script src="components/util/util.module.js"></script>
        <script src="app/opcions/opcions.js"></script>
        <script src="app/book-detail/book-detail.js"></script>
        <script src="app/factories/auth.factory.js"></script>
        <script src="app/factories/books.factory.js"></script>
        <script src="app/factories/borrowers.factory.js"></script>
        <script src="app/factories/configuration.factory.js"></script>
        <script src="app/factories/copies.factory.js"></script>
        <script src="app/factories/googleBooks.factory.js"></script>
        <script src="app/factories/incidents.factory.js"></script>
        <script src="app/factories/loans.factory.js"></script>
        <script src="app/factories/maps.factory.js"></script>
        <script src="app/factories/users.factory.js"></script>
        <script src="app/lembrar-contrasinal/lembrar-contrasinal.controller.js"></script>
        <script src="app/lembrar-contrasinal/lembrar-contrasinal.js"></script>
        <script src="app/login/login.controller.js"></script>
        <script src="app/login/login.js"></script>
        <script src="app/main/main.controller.js"></script>
        <script src="app/main/main.js"></script>
        <script src="app/opcions/opcions.controller.js"></script>
        <script src="app/book-detail/book-detail.controller.js"></script>
        <script src="app/prestamo-listaxe/prestamo-listaxe.controller.js"></script>
        <script src="app/prestamo-listaxe/prestamo-listaxe.js"></script>
        <script src="app/tests/tests.controller.js"></script>
        <script src="app/tests/tests.js"></script>
        <script src="app/xestion-accesos/xestion-accesos.controller.js"></script>
        <script src="app/xestion-accesos/xestion-accesos.js"></script>
        <script src="app/xestion-biblioteca/xestion-biblioteca.controller.js"></script>
        <script src="app/xestion-biblioteca/xestion-biblioteca.js"></script>
        <script src="app/xestion-usuarios/xestion-usuarios.controller.js"></script>
        <script src="app/xestion-usuarios/xestion-usuarios.js"></script>
        <script src="components/footer/footer.directive.js"></script>
        <script src="components/minerva-header/minerva-header.js"></script>
        <script src="components/minerva-sidebar/minerva-sidebar.js"></script>
        <script src="components/modal/modal.service.js"></script>
        <script src="components/navbar/navbar.controller.js"></script>
        <script src="components/navbar/navbar.directive.js"></script>
        <script src="components/sidebar/sidebar.controller.js"></script>
        <script src="components/sidebar/sidebar.js"></script>
        <script src="app/app.constant.js"></script>
        <script src="components/util/util.service.js"></script>
        <!-- endinjector -->
        <!-- endbuild -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="assets/js/slimScroll/jquery.slimscroll.js"></script>
        <script src="assets/js/fastclick/fastclick.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/demo.js"></script>
        <script src="assets/js/angular/locale/angular-locale_es-gl.js"></script>
    </body>
</html>
