<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini"><b>M</b>n<b>V</b></span>
        <span class="logo-custom" ><b>Minerva</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-click="switchToggle()">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/minervaowl.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{user.username}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="assets/images/minervaowl.jpg" class="user-image" alt="User Image">
                            <p>
                                {{user.name}} {{user.surname1}} {{user.surname2}} - <span ng-if="user.is_admin">Administrador</span> <span ng-if="!user.is_admin">Usuario</span> 
                                <small>Membro desde {{user.created_at| date}}</small>
                            </p>
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat" ng-click="salir()">Saír</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
