<div class="content-wrapper">
    <section class="content-header" >
        <section class="content">
            <h1>
                Xestión de accesos
            </h1>
            <div class="row" ng-hide="editingUser">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Usuarios</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">                          
                            <table class="table table-hover" datatable="ng" dt-options="opcionesTablaUsuarios.dtOptions" dt-column-defs="opcionesTablaUsuarios.dtColumnDefs">
                                <thead>
                                    <tr>
                                        <th class="text-center">Usuario</th>
                                        <th class="text-center">Fecha creación</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Apellidos</th>
                                        <th class="text-center">Dirección</th>
                                        <th class="text-center">Última conexión</th>
                                        <th class="text-center">Correo</th>
                                        <th class="text-center">Administrador</th>
                                        <th class="text-center">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users">
                                        <td class="text-center" style="vertical-align:middle">{{user.username}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{user.created_at| date:"dd 'de' MMMM 'do' yyyy "}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{user.name}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{user.surname1 + " " + user.surname2}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{user.address}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{user.last_login| date : "dd 'de' MMMM 'do' yyyy 'as' h:mm"}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{user.email}}</td>
                                        <td class="text-center" style="vertical-align:middle">
                                            <i ng-class="{'fa fa-check text-green fa-2x': user.is_admin, 'fa fa-close text-red fa-2x': !user._is_admin}"></i>
                                        </td>
                                        <td class="text-center">

                                <button class="btn btn-warning" ng-click="editUser(user)"><span class="fa fa-edit" style="font-size:18px"></span></button>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="box-footer pull-right">
                                <button class="md-raised md-primary" style="background-color: #009900" ng-click="editUser()">Novo Usuario</md-button>

                                            <button class="btn btn-warning" ng-click="editUser(user)"><span class="fa fa-edit"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="box-footer pull-right">
                                <button class="btn btn-success" ng-click="editUser()">Novo Usuario</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" ng-show="editingUser" >
                <div class="col-xs-12 col-lg-12">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Editar Acceso</h3>
                        </div> 
                        <div class="box-body">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Nome*</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nome" ng-model="user.name">
                                </div>
                                <div class="form-group">
                                    <label for="surname1">Primeiro Apelido*</label>
                                    <input type="text" class="form-control" id="surname1" placeholder="Primeiro Apelido" ng-model="user.surname1">
                                </div>
                                <div class="form-group">
                                    <label for="surname2">Segundo Apelido*</label>
                                    <input type="text" class="form-control" id="surname2" placeholder="Segundo Apelido" ng-model="user.surname2">
                                </div>
                                <div class="form-group">
                                    <label for="dirección">Dirección</label>
                                    <input type="text" ng-model="borrower.address" placeholder="Dirección" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No se han encontrado resultados
                                    </div>
                                    <!--                                            <input type="text" class="form-control" id="dirección" placeholder="Introduza a dirección" ng-model="borrower.address">-->
                                </div>
                                <div class="form-group">
                                    <label for="phone">Teléfono</label>
                                    <input type="number" class="form-control" id="phone" placeholder="Teléfono" ng-model="user.phone">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="username">Nome de usuario*</label>
                                    <input type="text" class="form-control" id="username" placeholder="Nome de usuario" ng-model="user.username">
                                </div>
                                <div class="form-group">
                                    <label for="pass">Contrasinal*</label>
                                    <input type="password" class="form-control" id="pass" placeholder="Contrasinal" ng-model="user.password">
                                </div>
                                <div class="form-group">
                                    <label for="email">Conta de correo</label>
                                    <input type="email" class="form-control" id="email" placeholder="Conta de correo" ng-model="user.email">
                                </div>

                                <div class="form-group">
                                    <label for="nif">NIF</label>
                                    <input type="text" class="form-control" id="nif" placeholder="NIF" ng-model="user.dni">
                                </div>

                                <div class="form-group">
                                    <div class="form-group">
                                        <checkbox ng-model="user.is_admin" id="is_admin"></checkbox>
                                        <label for="is_admin">É o usuario administrador?</label>
                                    </div>

                                    <div class="form-group">
                                        <checkbox ng-model="user.active" id="active"></checkbox>
                                        <label for="active">Activo</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <center>
                            <div class="box-footer" >
                                <button type="button" class="btn btn-primary" ng-click="saveUser(user)">Gardar</button>
                                <button type="button" class="btn btn-default" ng-click="cancelEditingUser()">Cancelar</button>
                            </div></center>
                    </div> 
                </div>
            </div>
        </section>
    </section>
</div>


