<!-- <sidebar></sidebar>
-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
        <section class="content">
            <h1>
                Titulo
            </h1>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Libros</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group">
                                Título
                                <input class="form-control" ng-model="titulo">
                                Autor
                                <input class="form-control" ng-model="autor">

                            </div>
                            <button class="btn btn-danger" ng-click="guardarLibro()" ng-hide="insertando" ng-disabled="insertando"><i class="fa fa-paw"></i> Guardar</button>

                            <ul>
                                <li ng-repeat="book in books">{{book.title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
