<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
        <section class="content">
            <h1>
                Xestión de biblioteca
            </h1>
            <div class="row">
                <div class="col-xs-12 col-lg-12" ng-hide="editingBook || creatingLoan">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Libros</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">                          
                            <table class="table table-hover" datatable="ng" dt-options="opcionesTablaLibros.dtOptions" dt-column-defs="opcionesTablaLibros.dtColumnDefs">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Autor</th>
                                        <th>Editorial</th>
                                        <th class="text-center">Data</th>
                                        <th class="text-center">Usuario</th>
                                        <th class="text-center">Editar</th>
                                        <th class="text-center">Novo préstamo</th>
                                        <th class="text-center">Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="book in books">
                                        <td style="vertical-align:middle">{{book.title}}</td>
                                        <td style="vertical-align:middle">{{book.author}}</td>
                                        <td style="vertical-align:middle">{{book.editorial}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{book.created_at| date:"dd 'de' MMMM 'do' yyyy"}}</td>
                                        <td class="text-center" style="vertical-align:middle">{{book.user.name}} {{book.user.surname1}} {{book.user.surname2}}</td>
                                        <td class="text-center"><button class="btn btn-primary" ng-click="editBook(book)"><i class="fa fa-edit"></i></button></td>
                                        <td class="text-center"><button class="btn btn-warning" ng-click="newLoan(book)"><i class="fa fa-book"></i></button></td>
                                        <td class="text-center"><a ng-href="/xestion-biblioteca/{{book._id}}"><button class="btn btn-default"><i class="fa fa-eye"></i></button></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button class="btn btn-success" ng-click="newBook()">Novo libro</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div  ng-show="editingBook">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h3 class="box-title">Datos básicos</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">  
                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="date">Data de alta</label>
                                            <input type="text" class="form-control" id="date" value="{{book.created_at|date}}" disabled >
                                        </div>
                                        <div class="form-group">
                                            <label for="isbn10">ISBN-10*</label>
                                            <input type="text" class="form-control" id="isbn10" placeholder="Introduza o ISBN-10" ng-model="book.isbn10" ng-change="checkIsbn(book.isbn10)">
                                        </div>
                                        <div class="form-group">
                                            <label for="isbn13">ISBN-13*</label>
                                            <input type="text" class="form-control" id="isbn13" placeholder="Introduza o ISBN-13" ng-model="book.isbn13" ng-change="checkIsbn(book.isbn13)">
                                        </div>

                                        <div class="form-group">
                                            <label for="title">Título*</label>
                                            <input type="text" class="form-control" id="title" placeholder="Introduza o título" ng-model="book.title">
                                        </div>

                                        <div class="form-group">
                                            <label for="author">Autor*</label>
                                            <input type="text" class="form-control" id="author" placeholder="Introduza o autor" ng-model="book.author">
                                        </div>

                                        <div class="form-group">
                                            <label for="editorial">Editorial*</label>
                                            <input type="text" class="form-control" id="editorial" placeholder="Introduza a editorial" ng-model="book.editorial">
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="idioma">Idioma</label>
                                            <input type="text" class="form-control" id="idioma" placeholder="Introduza o idioma do exemplar" ng-model="book.language">
                                        </div>

                                        <div class="form-group">
                                            <label for="paxinas">Número de páxinas</label>
                                            <input type="text" class="form-control" id="paxinas" placeholder="Introduza o número de páxinas" ng-model="book.pages">
                                        </div>

                                        <div class="form-group">
                                            <label for="synopsis">Sinopsis</label>
                                            <textarea class="form-control" id="synopsis" rows="6" placeholder="Escriba a sinopsis ...">{{book.synopsis}}</textarea>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="book.important"> Importante
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Imaxe</label>
                                            <br>
                                            <image ng-src="{{book.image}}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="rating">Puntuación</label>
                                            <input type="text" class="form-control" id="rating" placeholder="Introduza a puntuación" ng-model="book.rating">
                                        </div>
                                        <label>Clasificación</label>
                                        <br>
                                        <div class="form-group">
                                            <select class="form-control" ng-model="book.type">
                                                <option value="N/A">N/A</option>
                                                <option ng-repeat="type in types" value="{{type.name}}">{{type.name}}</option>
                                            </select>

                                        </div>


                                        <label>Localización</label>
                                        <br>
                                        <div class="form-group">
                                            <select class="form-control" ng-model="book.location">
                                                <option value="N/A">N/A</option>
                                                <option ng-repeat="location in locations" value="{{location.name}}">{{location.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <center>
                            <md-button class="md-raised md-primary" ng-click="saveBook(book)">Gardar libro</md-button>
                            <md-button class="md-raised md-secondary" ng-click="cancelEditingBook()">Cancelar</md-button>
                        </center>
                    </div>
                </div>

                <div ng-show="creatingLoan">
                    <div class="row">        
                        <div class="col-lg-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h3 class="box-title">Datos do libro</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">  

                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="date_loan">Data de alta</label>
                                            <input type="text" class="form-control" id="date_loan" value="{{book.created_at|date}}" disabled >
                                        </div>
                                        <div class="form-group">
                                            <label for="isbn10">ISBN-10</label>
                                            <input type="text" class="form-control" id="isbn10" placeholder="Introduza o ISBN-10" ng-model="book.isbn10" ng-disabled="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="isbn13">ISBN-13</label>
                                            <input type="text" class="form-control" id="isbn13" placeholder="Introduza o ISBN-13" ng-model="book.isbn13" ng-disabled="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="title">Título</label>
                                            <input type="text" class="form-control" id="title" placeholder="Introduza o título" ng-model="book.title" ng-disabled="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="author">Autor</label>
                                            <input type="text" class="form-control" id="author" placeholder="Introduza o autor" ng-model="book.author" ng-disabled="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="editorial">Editorial</label>
                                            <input type="text" class="form-control" id="editorial" placeholder="Introduza a editorial" ng-model="book.editorial" ng-disabled="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="exemplar">Exemplar*</label>
                                            <select id="exemplar" class="form-control">
                                                <option>Copia 1</option>
                                                <option>Copia 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="box box-warning">
                                <div class="box-header">
                                    <h3 class="box-title">Datos do prestatario</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">  

                                    <div class="col-lg-12 col-sm-12">

                                        <div class="form-group">
                                            <label for="nif">NIF*</label>
                                            <input type="text" class="form-control" id="nif" placeholder="Introduza o NIF"  uib-popover="Escriba o NIF para ver as opcións suxeridas" popover-trigger="mouseenter" ng-model="borrower.nif" uib-typeahead="borrower for borrower in getBorrower($viewValue)" typeahead-loading="loadingNif" typeahead-no-results="noResultsNif" typeahead-on-select="selectBorrower($item, $model, $label, $event)" ng-change="resetBorrower(borrower.nif)">
                                            <i ng-show="loadingNif" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResultsNif">
                                                <i class="glyphicon glyphicon-remove"></i> No se han encontrado resultados
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="nome">Nome*</label>
                                            <input uib-popover="Escriba un nome para ver as opcións" popover-trigger="mouseenter"   uib-typeahead="borrower for borrower in getBorrower($viewValue)" typeahead-loading="loadingName" typeahead-no-results="noResultsName" typeahead-on-select="selectBorrower($item, $model, $label, $event)" type="text" class="form-control" id="nome" placeholder="Introduza o nome" ng-model="borrower.name" ng-change="resetBorrower(borrower.name)">
                                            <i ng-show="loadingName" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResultsName">
                                                <i class="glyphicon glyphicon-remove"></i> No se han encontrado resultados
                                            </div>
                                        </div>   
                                        <div class="form-group">
                                            <label for="apelido1">Primeiro apelido*</label>
                                            <input uib-typeahead="borrower for borrower in getBorrower($viewValue)" typeahead-loading="loadingSurname1" typeahead-no-results="noResultsSurname1" typeahead-on-select="selectBorrower($item, $model, $label, $event)" type="text" class="form-control" id="apelido1" placeholder="Primeiro apelido" ng-model="borrower.surname1" uib-popover="Escriba o primeiro apelido para ver as opcións suxeridas" popover-trigger="mouseenter" ng-change="resetBorrower(borrower.surname1)">
                                            <i ng-show="loadingSurname1" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResultsSurname1">
                                                <i class="glyphicon glyphicon-remove"></i> No se han encontrado resultados
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="apelido2">Segundo apelido*</label>
                                            <input  uib-typeahead="borrower for borrower in getBorrower($viewValue)" typeahead-loading="loadingSurname2" typeahead-no-results="noResultsSurname2" typeahead-on-select="selectBorrower($item, $model, $label, $event)" type="text" class="form-control" id="apelido2" placeholder="Segundo apelido"  ng-model="borrower.surname2" uib-popover="Escriba o segundo apelido para ver as opcións suxeridas" popover-trigger="mouseenter" ng-change="resetBorrower(borrower.surname2)">
                                            <i ng-show="loadingSurname2" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResultsSurname2">
                                                <i class="glyphicon glyphicon-remove"></i> No se han encontrado resultados
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="telefono">Teléfono</label>
                                            <input type="text" class="form-control" id="telefono" placeholder="Introduza o teléfono" ng-disabled="true" ng-model="borrower.phone">
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Conta de correo</label>
                                            <input type="text" class="form-control" id="email" placeholder="Introduza a sua conta de correo"  ng-disabled="true"  ng-model="borrower.email">
                                        </div>

                                        <div class="form-group">
                                            <label for="dirección">Dirección</label>
                                            <input type="text" class="form-control" id="dirección" placeholder="Introduza a dirección"  ng-disabled="true"  ng-model="borrower.address">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Datos do préstamo</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">  

                                    <div class="col-lg-12 col-sm-12">

                                        <div class="form-group">
                                            <label for="loan_date">Data do préstamo*</label><br>
                                            <input uib-datepicker ng-model="loan.loan_date" id="loan_date" max-date="loan.limit_date">
                                        </div>

                                        <div class="form-group">
                                            <label for="limit_date">Data límite*</label><br>
                                            <input uib-datepicker ng-model="loan.limit_date" id="limit_date" min-date="loan.loan_date">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="text-center">
                            <md-button class="md-raised md-primary" ng-click="saveLoan(loan)">Gardar préstamo</md-button>
                            <md-button class="md-raised" ng-click="cancelNewLoan()">Cancelar</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>