<!-- <sidebar></sidebar>
-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >


        <section class="content">
            <h1>
                Xestión de biblioteca
            </h1>
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Libros</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">                          
                            <table class="table table-hover" datatable="ng" dt-options="opcionesTablaLibros.dtOptions" dt-column-defs="opcionesTablaLibros.dtColumnDefs">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>User</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="book in books">
                                        <td>{{book.id}}</td>
                                        <td>{{book.id}}</td>
                                        <td>{{book.id}}</td>
                                        <td>{{book.id}}</td>
                                        <td><button class="btn btn-warning" ng-click="editarBook(book)">Editar</button></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Ubicacións da biblioteca</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">                          


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div><!-- /.content-wrapper -->
