<div class="content-wrapper">
    <section class="content-header" >
        <section class="content">
            <div class="col-lg-12">
                <h1>
                    Detalles do libro <a href="/xestion-biblioteca"><button class="pull-right btn btn-primary"><i class="fa fa-arrow-left"></i></button></a>
                </h1>
            </div>

            <div class="row">
                <div class="section col-lg-6">
                    <div class="col-xs-12">
                        <div class="box box-success col-lg-8">
                            <div class="box-header">
                                <h3 class="box-title">Datos</h3>
                            </div>
                            <div class="box-body">
                                <strong><i class="fa fa-book margin-r-5"></i> Título</strong>

                                <p class="text-muted">
                                    {{book.title}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-user margin-r-5"></i> Autor</strong>
                                <p class="text-muted">
                                    {{book.author}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-pencil margin-r-5"></i> Editorial</strong>
                                <p class="text-muted">
                                    {{book.editorial}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-book margin-r-5"></i> ISBN-10</strong>
                                <p class="text-muted">
                                    {{book.isbn10}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-book margin-r-5"></i> ISBN-13</strong>
                                <p class="text-muted">
                                    {{book.isbn13}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-book margin-r-5"></i> Sinopsis</strong>
                                <p class="text-muted">
                                    {{book.synopsis}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-book margin-r-5"></i> Idioma</strong>
                                <p class="text-muted">
                                    {{book.language}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-book margin-r-5"></i> Páxinas</strong>
                                <p class="text-muted">
                                    {{book.pages}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-filter margin-r-5"></i> Tipo</strong>
                                <p class="text-muted">
                                    {{book.type}}
                                </p>

                                <hr>

                                <strong><i class="fa fa-map-marker margin-r-5"></i> Ubicación</strong>
                                <p class="text-muted">
                                    {{book.location}}
                                </p>


                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="box box-danger">
                            <div class="box-header">
                                <h3 class="box-title">Incidencias</h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table width="100%" class="table table-hover" datatable="ng" dt-options="optionsTableIncidences.dtOptions">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Observación</th>
                                                <th>Data</th>
                                                <th>Prestatario</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="incidence in book.incidents">
                                                <td>{{incidence.type}}</td>
                                                <td>{{incidence.observations}}</td>
                                                <td>{{incidence.created_at| date:"dd 'de' MMMM 'do' yyyy"}}</td>
                                                <td>{{incidence.borrower.name + ' ' + incidence.borrower.surname1 + ' ' + incidence.borrower.surname2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="section col-lg-6">

                    <div class="col-xs-12">

                        <div class="box box-primary col-lg-8">
                            <div class="box-header">
                                <h3 class="box-title">Imaxen</h3>
                            </div>

                            <div class="box-body">

                                <strong><i class="fa fa-image margin-r-5"></i> Imaxe</strong>
                                <p class="text-center text-muted">
                                    <img ng-src="{{book.image}}">
                                </p>

                                <hr>

                                <strong><i class="fa fa-qrcode margin-r-5"></i> Código QR</strong>
                                <p class="text-center text-muted">
                                <qr text="qrString"></qr>
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Préstamos</h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" datatable="ng" dt-options="optionsTableLoans.dtOptions" dt-column-defs="optionsTableLoans.dtColumnDefs">
                                        <thead>
                                            <tr>
                                                <th>Nome do prestatario</th>
                                                <th>Nº de teléfono</th>
                                                <th>Correo electrónico</th>
                                                <th>Data de préstamo</th>
                                                <th>Data límite</th>
                                                <th>Devolto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="loan in book.loans">
                                                <td style="vertical-align:middle">{{loan.borrower.name}} {{loan.borrower.surname1}} {{loan.borrower.surname2}}</td>
                                                <td style="vertical-align:middle">{{loan.borrower.phone}}</td>
                                                <td style="vertical-align:middle"><a ng-href="mailto:{{loan.borrower.email}}">{{loan.borrower.email}}</a></td>
                                                <td style="vertical-align:middle">{{loan.loan_date| date}}</td>
                                                <td style="vertical-align:middle">{{loan.limit_date| date}}</td>
                                                <td style="vertical-align:middle"> 
                                                    <i ng-class="{'fa fa-check text-green fa-2x': loan.returned, 'fa fa-close text-red fa-2x': !loan.returned}"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
</div>
