<!-- <sidebar></sidebar>
-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
        <section class="content">
            <h1>
                Listaxe de préstamos
            </h1>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Préstamos</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">                          
                            <div class="box-body">                          
                                <table class="table table-hover" datatable="ng" dt-options="optionsTableLoans.dtOptions" dt-column-defs="optionsTableLoans.dtColumnDefs">
                                    <thead>
                                        <tr>
                                            <th>Nombre del prestatario</th>
                                            <th>NIF del prestatario</th>
                                            <th>Número de teléfono</th>
                                            <th>Correo electrónico</th>
                                            <th>Libro emprestado</th>
                                            <th>Fecha de préstamo</th>
                                            <th>Fecha límite</th>
                                            <th>Devuelto</th>
                                            <th>Usuario</th>
                                            <th>Fecha de creación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="loan in loans">
                                            <td>{{loan.borrower.name}} {{loan.borrower.surname1}} {{loan.borrower.surname2}}</td>
                                            <td>{{loan.borrower.nif}}</td>
                                            <td>{{loan.borrower.phone}}</td>
                                            <td>{{loan.borrower.email}}</td>
                                            <td>{{loan.copy.book.title}}</td>
                                            <td>{{loan.loan_date | date}}</td>
                                            <td>{{loan.limit_date | date}}</td>
                                            <td> 
                                                <i ng-if="loan.is_admin" class="fa fa-check text-green fa-2x"></i>
                                                <i ng-if="!loan.is_admin" class="fa fa-close text-red fa-2x"></i>
                                            </td>
                                            <td>{{loan.user.name}} {{loan.user.surname1}} {{loan.user.surname2}}</td>
                                            <td>{{loan.created_at | date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer pull-right">
                                    <a href="/prestamo-novo" class="btn btn-success">Novo préstamo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div><!-- /.content-wrapper -->
