
<div class="login-box animated bounceInUp">
    <div class="login-logo">
        <b>Minerva</b>
        <br>
        Xestión de bibliotecas
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Introduce o teu usuario e a tua contrasinal para iniciar sesión</p>

        <form name="formLogin">
            <div class="form-group inner-addon right-addon">
                <input type="text" class="form-control" placeholder="Nome de usuario" ng-model="username" required>
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="form-group inner-addon right-addon">
                <input type="password" class="form-control" placeholder="Contrasinal" ng-model="password" required right-addon>
                <span class="glyphicon glyphicon-lock"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <checkbox ng-model="rememberMe"></checkbox> Recórdame
                </div>

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="formLogin.$invalid" ng-click="login()">Entrar</button>
                </div>
            </div>
        </form>
        <a href="/lembrar-contrasinal">Olvidéi o meu contrasinal</a><br>
    </div>
</div>
